* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

/* NAV */
.logo {
  width: 180px;
  margin-top: -57px;
  margin-left: -60px;
  cursor: auto;
}
.right,
.sidebar {
  color: #f8f8f8;
}
a {
  text-decoration: none;
}

.nav-grande li {
  text-transform: uppercase;
  font-weight: bold;
}
.nav-chico li {
  text-transform: uppercase;
}

/*End Nav*/

/* MISION + VISION + NOSOTROS */
.mkt-titulo {
  margin-bottom: 25px;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.mkt-sub {
  margin-top: 20px;
  margin-bottom: 50px;
}
.titulo-n {
  font-weight: 700;
}

.para1 {
  height: 48vh;
}
.nosotros {
  width: 100%;
}
.nosotros-row {
  margin-bottom: 0;
  padding-bottom: 0;
}
.mision-row {
  margin-top: 0;
  background-color: rgb(232, 232, 232);
  padding-bottom: 3rem;
}
.mision-row h3 {
  margin-top: 5rem;
}
.para2 {
  height: 60vh;
}
.para2 img {
  width: 50%;
}
.vision-content {
  margin-top: 80px;
}

/* END MISION */

/* Whatsapp */

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

/* PLANES */

.planes-row {
  background-color: rgb(232, 232, 232);
  padding-bottom: 70px;
}
.planes-titulo {
  margin-bottom: 50px !important;
}
.contenido li {
  margin: 10px auto;
}
.vid {
  width: 100%;
  height: 60vh;
}
.plan-p {
  font-size: small !important;
}

.adicionales-titulo {
  margin-bottom: 50px !important;
  text-decoration: underline;
}
.adicional-sub {
  font-size: 16px;
}
/* END PLANES */
.para3 {
  height: 380px;
}
.para3-img {
  object-fit: cover !important;
}

/* CLIENTES */

.clientes-row img {
  width: 80%;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.clientes-row h3 {
  margin-bottom: 50px;
}
/* END OF CLIENTES */

/* CONTACTO */
.contacto-img {
  object-fit: contain;
  width: 100%;
}
.contacto-row i {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 15px;
  color: black;
}
.contacto-sub {
  margin-top: 15px;
  margin-bottom: 15px;
}
.contacto-row {
  background-color: rgb(175, 166, 166);
}
.row-contacto {
  background-color: rgb(232, 232, 232);
  margin-bottom: 0px;
  padding-bottom: 0;
}
.redes span {
  margin-left: 10px;
  font-size: 16px;
}
/* END CONTACTO */
/* Mobile version */
@media (max-width: 576px) {
  html {
    scroll-behavior: auto;
  }
  .vision-sub {
    margin-bottom: 45px;
  }
  .para1 {
    height: 35vh;
  }

  .para2 {
    height: 35vh;
  }
  .logo {
    margin-top: -62px;
    margin-left: 0;
  }
  .sidenav {
    background-color: #212121;
  }
  .sidenav li > a {
    font-weight: 700;
  }
  nav {
    position: fixed;
    z-index: 1500;
  }
  /* .contenido {
    top: 50%;
  } */
  .mkt-titulo {
    margin-top: 80px;
  }
}
